#indexNavbar {
  background: orange !important;
  color: white;
  box-shadow: 2px 2px 3px 2px #888888;
}

#dropdownMenuButton {
  min-width: 150px;
}

.mousePointer:hover {
  cursor: pointer;
}

.navbar-notification {
  font-size: 43px;

  color: black;
}

.navbar-notification:hover {
  color: white;
}
