HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
/spring-server/target/
/spring-server/!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/spring-server/.idea
/spring-server/*.iws
/spring-server/*.iml
/spring-server/*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

