#registerForm {
  max-width: 530px;
  padding: 25px 60px;
  margin: 0px auto;
  border-radius: 0.3em;
  background-color: #f2f2f2;
  opacity: 0.97;
}

*[role="form"] h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  margin-top: 5%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}
